@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Dancing+Script&display=swap');
body{
    background:url(chikk.jpeg);
    color:black; 
}
div{
    position:fixed;
    margin-left:34%;
    width: 30%;
    margin-top:18%;
    font-family:inherit;
}
.wt{
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-weight:bold;
    color:red;
    text-shadow: 3px 3px black;
}